/*css reset*/
html{height:100%;}
body{word-break: break-all;position:relative;min-height:81%;min-width:320px;font-family:"\5FAE\8F6F\96C5\9ED1", Helvetica;font-size:13px; color:#1e2939; -webkit-text-size-adjust: none;-webkit-user-select: none; line-height:150%;background-color: #f3f3f3;}
*{margin:0;padding:0;-webkit-tap-highlight-color: transparent;}
ul,ol{list-style:none}
a,a:visited,a:hover{text-decoration:none;color:#666}
a:active{color:#333;}
img{vertical-align:middle;border:0;}
button,input,select,textarea{vertical-align:middle;outline:none;resize:none;font-family:"\5FAE\8F6F\96C5\9ED1", Helvetica;}
input{-webkit-appearance:none;}
table{border-collapse:collapse;border-spacing:0}
i,em{font-style:normal;}

/*public*/
.container {
  margin-left: auto;
  margin-right: auto;
}
.heading-2, .about-raw-body h2 {
  line-height: 50px;
  font-size: 36px;
  color: #2C2B3F;
}
@media (min-width: 768px){
  .container {
    width: 640px;
  }
  .heading-2, .about-raw-body h2 {
    line-height: 50px;
    font-size: 36px;
  }
}
@media (max-width: 767px){
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1024px){
  .container {
    width: 960px;
  }
}
@media (min-width: 1441px){
  .container {
    width: 1440px;
  }
}
.marginTop-header{
  margin-top:73px;
}
